/* Header */

.main-container{
  max-width:80vw;
  height:100vh;
  margin-left: 20rem;
  margin-right: 3.5rem;
}

.header__navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: .625rem;
  border-radius: .5rem;
  background-color: #121212;
}
