@import "../styles/vars.css";

body {
  background: var(--background-body);
  font-family: var(--font-family);
}

/* Logo */
.logo {
  background: #121212;
  display: flex;
  border-radius: 0.5rem;
  padding: 1rem 0 0 1rem;
}

.logo img {
  width: 5rem;
}

/* Fim da logo */

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0.75rem;
  width: 18.75rem;
}

.sidebar__navigation {
  background-color: #121212;
  border-radius: 0.5rem;
  padding: 1rem 0 0 1rem;
}

.sidebar nav ul {
  margin-top: 1.25rem;
  padding: 0 1.25rem 0.625rem 1.25rem;
}

.sidebar nav ul li {
  padding: 0.625rem 0;
}

.sidebar nav ul li a {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: none;
}

/* Fim da Sidebar */

/* Library */

.library {
  background-color: #121212;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

.library__content {
  display: flex;
  justify-content: space-between;
}

.library__button {
  margin-right: 0.625rem;
  color: var(--color-primary);
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  padding: 1.25rem 0.625rem;
}

.library__button .fa {
  font-size: 1.25rem;
  margin-right: 0.625rem;
  font-weight: 300;
  padding-left: 8px;
}

.fa-plus {
  margin: 1.5rem 0.625rem;
}

/* Section Playlist */

.section-playlist {
  margin: 1.5rem 0.625rem;
  align-items: flex-start;
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0.5rem 0;
  padding: 1rem 1.25rem;
  border-radius: 1.25rem;
}

.section-playlist__content {
  display: flex;
  flex-direction: column;
}

.text {
  padding-bottom: 0.875rem;
  color: #fff;
}

.subtitle {
  font-weight: 500;
  font-size: 0.75rem;
}

.title {
  font-weight: 700;
}

.section-playlist__button {
  background-color: #fff;
  color: #000;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  padding: 0.625rem;
  border: 0;
  width: 7.0625rem;
  margin-top: 0.75rem;
}

/* Fim da Section Playlist */

/* Cookies */

.cookies {
  margin: 1.5625rem 1.25rem;
}

.cookies a {
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: none;
  font-size: 0.625rem;
}

.cookies a:hover {
  text-decoration: underline;
}

/* Fim Cookies */

/* Languages */

.languages__button {
  background-color: transparent;
  border: 0.0625rem solid #878787;
  color: #fff;
  cursor: pointer;
  align-items: center;
  font-weight: 700;
  width: 10.625rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1.25rem;
}

/* Fim da Linguages */

/* Fim da Library*/

/* Disclaimer Premium */

.disclaimer-premium {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.disclaimer-premium .text {
  flex-shrink: 0;
}

.disclaimer-premium__title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.disclaimer-premium button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  flex-shrink: 0;
}

.disclaimer-premium butoon:hover{
  
}

/* Fim da Disclaimer Premium */
