@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

:root{
  /* Background */
  --background-body: #000;

  /* Fonts */
  --font-family: "Poppins",sans-serif;


  /* Coloors */
  --color-primary:#b3b3b3;
  --color-secondary:#fff;
}